<!-- Header and Nav -->
<div class="nav-bar" ng-controller="LoginController">
	 
		<div id="brand" class=""><span class="hideSmall logo-text text-center">The Merchants Guild</span></div>
	

		<!-- Profiles Tab -->
		<div id="profile-tab" ng-show="loginStatus.isLoggedIn" class="dropdown pull-right nav-dropdown">
			<button class="nav-dropdown nav-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="hideSmall">Profile&nbsp;</span><i class="nav-text fa fa-user-circle-o" aria-hidden="true"></i>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li><a id="view-profile-btn" href="#/profile/{{currentUser.$id}}">View Profile</a></li>
				<li><a id="logout-btn" ng-click="logout()" >Logout</a></li>
			</ul>
		</div>

		<!-- Login Tab -->
		<div id="profile-tab" ng-hide="loginStatus.isLoggedIn" class="dropdown pull-right nav-dropdown">
			<button class="nav-dropdown nav-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="hideSmall">Login&nbsp;</span><i class="fa fa-sign-in" aria-hidden="true"></i>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li><a id="facebook-login-dropdown-btn" ng-click="loginWithFacebook()">Login With Facebook</a></li>
				<li><a id="google-login-dropdown-btn" ng-click="loginWithGoogle()" >Login With Google</a></li>
			</ul>
		</div>



		<!-- Sellers Tabs -->
		<div id="seller-tab" class="dropdown pull-right nav-dropdown">
			<button class="nav-dropdown nav-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Browse<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li><a id="browse-request-btn" href="#/requests">Browse Requests</a></li>
				<li><a id="browse-items-btn" href="#/store">Browse Items</a></li>	
			</ul>
		</div>

		<!-- Buyers Tab -->
		<div id="buyer-tab" class="dropdown pull-right nav-dropdown">
			<button  class="nav-dropdown nav-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Post<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li ng-show="loginStatus.isLoggedIn"><a id="list-product-btn" href="#/postitem">Post A Product</a></li>
				<li ng-show="loginStatus.isLoggedIn" ><a id="place-request-btn" href="#/postrequest">Post a Request</a></li>
			</ul>
		</div>
		
</div>
<!-- End Nav -->


