<div id="postWrapper">
	
	<div ng-include="'pages/partials/navbar.html'"></div> 
	
	<div id="main-content-wrapper" class="container">
		<div class="row">
			<div class="col-sm-1"></div>	
			<div class="col-sm-10">
				<h1 class="postHeader">Post an Item</h1>
				
				<form class="newItemForm" ng-submit="addStoreItem()">
					<div class="inputGroup">	
						<h5 class="inputLabel">Item Name</h5>
						<input type="text" class="form-control textField" ng-model="storeItem.name" required>
					</div>

					<div class="inputGroup">
						<h5 class="inputLabel">URL of the image you want to use (eventually this will be a file upload)</h5>
						<input type="text" class="form-control textField"  ng-model="storeItem.photoURL" required>
					</div>

					<div class="inputGroup">
						<h5 class="inputLabel">Your Location</h5>
						<input type="text" class="form-control textField"  ng-model="storeItem.location" required>
					</div>	

					<div class="inputGroup">
						<h5 class="inputLabel">Specifications you would like to mention</h5>
						<input type="text" class="form-control textField" ng-model="storeItem.specs" required>
					</div>	

					<div class="inputGroup">
						<h5 class="inputLabel">Tags,seperated,by,commas</h5>
						<input type="text" class="form-control textField"  ng-model="storeItem.tags" required>
					</div>	

					<div class="inputGroup priceInput">
						<h5 class="inputLabel">Price</h5>
				    	<input type="number" class="form-control textField" ng-model="storeItem.price" required>  	
				    </div>

					<div class="inputGroupLrg">
						<h5 class="inputLabel">Description</h5>
						
						
						<textarea id="itemDescriptionTextBox" class="textField form-control" ng-model="storeItem.description" ckeditor></textarea>
					</div>

					<button class="btn-success btn"> Submit</button>
				</form>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

</div>